.modal-button-primary{
    background-color: #46139f !important;
}
.modal-button-secondary{
    background-color: #ff7f50 !important;
}
.modal-footer{
    display: flex !important;
    justify-content: left !important;
    
}